.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.header {
  width: calc(100% - 60px);
  background-color: #61dafb;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  padding: 30px;
}